[submodule "vim-airline"]
	path = vimrc/pack/mcge/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim-which-key"]
	path = vimrc/pack/mcge/start/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "vim-ale"]
	path = vimrc/pack/mcge/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim-startify"]
	path = vimrc/pack/mcge/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vim-devicons"]
	path = vimrc/pack/mcge/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim-coc.nvim"]
	path = vimrc/pack/mcge/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim-surround"]
	path = vimrc/pack/mcge/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-fugitive"]
	path = vimrc/pack/mcge/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-nerdcommenter"]
	path = vimrc/pack/mcge/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim-snippets"]
	path = vimrc/pack/mcge/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim-ultisnips"]
	path = vimrc/pack/mcge/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-vista.vim"]
	path = vimrc/pack/mcge/start/vista.vim
	url = https://github.com/liuchengxu/vista.vim.git
[submodule "vim-clap"]
	path = vimrc/pack/mcge/start/vim-clap
	url = https://github.com/liuchengxu/vim-clap.git
[submodule "vim-css-color"]
	path = vimrc/pack/mcge/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "vim-gruvbox"]
	path = vimrc/pack/mcge/start/vim-gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim-airline-themes"]
	path = vimrc/pack/mcge/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim-floaterm"]
	path = vimrc/pack/mcge/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule "vim-molokai"]
	path = vimrc/pack/mcge/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "emacs-lsp-bridge"]
	path = emacs/site-lisp/extensions/lsp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "emacs-yasnippet"]
	path = emacs/site-lisp/extensions/snippets/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "emacs-yasnippet-snippets"]
	path = emacs/site-lisp/extensions/snippets/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "emacs-auto-save"]
	path = emacs/site-lisp/extensions/utils/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "emacs-markdown-mode"]
	path = emacs/site-lisp/extensions/lsp/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "emacs-ef-themes"]
	path = emacs/site-lisp/extensions/ui/themes/ef-themes
	url = https://github.com/protesilaos/ef-themes.git
[submodule "emacs-posframe"]
	path = emacs/site-lisp/extensions/input/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "emacs-nerd-icons"]
	path = emacs/site-lisp/extensions/ui/themes/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el.git
[submodule "emacs-nerd-icons-completion"]
	path = emacs/site-lisp/extensions/ui/themes/nerd-icons-completion
	url = https://github.com/rainstormstudio/nerd-icons-completion.git
[submodule "emacs-sort-tab"]
	path = emacs/site-lisp/extensions/utils/sort-tab
	url = https://github.com/manateelazycat/sort-tab.git
[submodule "emacs-consult"]
	path = emacs/site-lisp/extensions/completion/consult
	url = https://github.com/minad/consult.git
[submodule "emacs-marginalia"]
	path = emacs/site-lisp/extensions/completion/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "emacs-vertico"]
	path = emacs/site-lisp/extensions/completion/vertico
	url = https://github.com/minad/vertico.git
[submodule "emacs-orderless"]
	path = emacs/site-lisp/extensions/completion/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "emacs-embark"]
	path = emacs/site-lisp/extensions/completion/embark
	url = https://github.com/oantolin/embark.git
[submodule "emacs-pinyinlib"]
	path = emacs/site-lisp/extensions/completion/pinyinlib
	url = https://github.com/cute-jumper/pinyinlib.el.git
[submodule "emacs-modus-themes"]
	path = emacs/site-lisp/extensions/ui/themes/modus-themes
	url = https://github.com/protesilaos/modus-themes.git
[submodule "emacs-awesome-tray"]
	path = emacs/site-lisp/extensions/ui/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
