mcge-vimrc/coc-data/*
mcge-vimrc/pack/mcge/start/ultisnips/tags
!mcge-vimrc/coc-data/ultisnips/
!mcge-vimrc/coc-data/ultisnips/*

mcge-emacs/site-lisp/config/*

# nushell
mcge-nushell/history.*
mcge-scoop/config.json

# nvim lazy
mcge-nvim/lazy-lock.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/keybindings.json
!.vscode/update_timestamp.py
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.lsp/
.clj-kondo/
